.taskContainer {
  display: flex;
  align-items: center;
  height: 2em;
  cursor: pointer;
}

.taskContent {
  margin-left: 1em;
}

.taskIcon {
  height: 1.5em;
  width: 0.7em;
}

.completed .taskIcon {
  background-color: mediumseagreen;
}

.todo .taskIcon {
  background-color: lightblue;
}

.completed .taskContent {
  text-decoration: line-through;
}

.todo .taskContent {
  text-decoration: none;
}

.processing .taskIcon {
  background-color: orange;
}
